<h1>Add A Quote</h1>
<form #addForm="ngForm">
  <div class="formSection">
    <textarea name="text" id="text" rows="5" [(ngModel)]="quoteToAdd.text" #text="ngModel" minlength="4" required></textarea>
  </div>
  <div class="formSection">
    <label for="author">Author</label>
    <input name="author" id="text" type="text" required [(ngModel)]="quoteToAdd.author" #author="ngModel" minlength="1" required>
  </div>
  <div class="formSection">
    <button [disabled]="addForm.form.invalid" (click)="submitForm(); addForm.reset()">Add Quote</button>      
  </div>
</form>
<div class="validations">
    <div class="errors" *ngIf="text.invalid && (text.dirty || text.touched)">
      <span *ngIf="text.errors.required">Quote is required</span>    
      <span *ngIf="text.errors.minlength">Quote must be at least 4 characters</span>
    </div>
    <div class="errors" *ngIf="author.invalid && (author.dirty || author.touched)">
      <span *ngIf="author.errors.required">Author is required</span>    
      <span *ngIf="author.errors.minlength">Author must be at least 1 character</span>
    </div>
</div>
